@font-face {
  font-family: 'Gotham';
  src: url('fonts/GothamLight.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/GothamLightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/GothamBook.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/GothamBookItalic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/GothamMedium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/GothamMediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/GothamBold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/GothamBoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  background-image: url('assets/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 45px;

  width: 100%;
  height: 100%;
  padding: 160px 175px;
}

#track {
  position: absolute;
}

.visualizer-container {
  height: 385px;
  position: relative;
}

#visualizer,
#intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  image-rendering: crisp-edges;
}

.track-metadata {
  display: flex;
  align-items: center;
  gap: 30px;
}

.track-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#album-art {
  width: 190px;
  height: 190px;
  transform-origin: center;
  transform: rotateY(90deg);
}

@keyframes revealSideways {
  from {
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#track-artist {
  font-family: 'Gotham';
  font-size: 5em;
  font-weight: bold;
  color: #fff;
  text-shadow: 6px 6px 4px #000;
  text-transform: uppercase;
  opacity: 0;
}

#track-title {
  font-family: 'Gotham';
  font-size: 2.5em;
  font-weight: 400;
  color: #fff;
  text-shadow: 3px 3px 2px #000;
  text-transform: uppercase;
  opacity: 0;
}
